@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web:600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}


body {
    font-size: 10px;
    width: 100%;
    background: linear-gradient(61deg, rgba(208,64,255,1) 0%, rgba(61,1,85,1) 100%);
    background-repeat: no-repeat;
}